spring:
  datasource:
    url: jdbc:mysql://localhost:3306/cricket_notifier?useSSL=false&serverTimezone=UTC
    username: root
    password: Utk@mac123
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  h2:
    console:
      enabled: true
